html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
    font-family: 'Poiret One', cursive;
    font-weight: 600;
}

#map {
    height: 60%;
}


/* #data{
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
       
        text-align: center;
       

        padding-left: 10px;
      } */

#data,
#container {
    display: flex;
    justify-content: center;
}

select,
option input {
    font-family: 'Poiret One', cursive;
    color: black;
    font-weight: bold;
    border: none;
    border-bottom: 2px solid orange;
}

h3 {
    display: inline-block;
    font-size: 0.8rem;
    padding: 0.3rem 0.7rem;
    font-family: 'Poiret One', cursive;
    color: black;
    border-bottom: 2px solid orange;
    border-top: 2px solid white;
    border-radius: 48px;
    cursor: pointer;
}

h3:hover {
    /*color: darkred;*/
    border-top: 2px solid orange;
}