body{
    font-family: monospace;
}

#generate{
    display: flex;
}

section#input{
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    width: 50vw;
    height: 2rem;
    margin:0 1rem;
    padding: 0 1rem;
    background-color: transparent;
    border: 1px solid rgba(0,0,0,.87);
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
}

button{
    background: #fff;
    padding: 2px 10px;
    margin: 0 10px;
    border: 0;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    color: #333;
    font-family: monospace;
}

button:hover{
    background: #eee;
    cursor: pointer;
}

.input_top{
    position: relative;
    top: 1.3rem;
}


#my_object_rendered2,
#my_object_rendered{
    display: none;
    width: 50%;
    margin: 2rem 1rem;
    height: 80%;
    border: 1px solid #ccc;
    resize: both;
}

section#img{
    display: none;
    overflow: scroll;
    width: 80%;
    margin: 2rem 1rem;
    height: 80%;
    border: 1px solid #ccc;
    resize: both;
}

.hide{
    display: none;
}

#table{
    height: 400px;
    overflow-y: scroll;
    display: none;
    width: calc(100% - 30px);
    margin-left: 15px;
    
}
input#find{
    position: absolute;
    left: 0%;
    top: 80px;
    width: 200px;
}

#table table{
    border-collapse: collapse;
    border: 2px black solid;
    font: 12px sans-serif;
    width: 100%;
    overflow-x:auto;
   
}

#table table td {
    border: 2px black solid;
    padding: 5px;
}

#table table tr:nth-child(even) {background-color: #f2f2f2;}

#generate{
    margin-top: 2.5rem;
    width: 90vw; 
    height: 80vh;
}