body{
    font-family: monospace;
}

#generate{
    display: flex;
}

section#input{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    width: 50vw;
    height: 2rem;
    margin:0 1rem;
    padding: 0 1rem;
    background-color: transparent;
    border: 1px solid rgba(0,0,0,.87);
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
}

button{
    background: #fff;
    padding: 2px 10px;
    margin: 0 10px;
    border: 0;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    color: #333;
    font-family: monospace;
}

button:hover{
    background: #eee;
    cursor: pointer;
}

.input_top{
    position: relative;
    top: 1.3rem;
}

#my_object_rendered2,
#my_object_rendered{
    display: none;
    width: 80%;
    margin: 2rem 1rem;
    height: 80%;
    border: 1px solid #ccc;
}