body {
  background: linear-gradient(315deg, #8fd87d 0, #24ccaa 80%);
  overflow-y: hidden;
}
.container {
  margin: 2rem auto;
  max-width: 50rem;
  text-align: center;
}
form {
  margin: 2.5rem auto;
}
.btn {
  font-family: inherit;
  max-width: 100px;
  height: 28px;
  line-height: 0;
  padding: 0;
  font-weight: 500;
  background: #fff;
  color: black;
  border: 1px solid #bbb;
}
.find-me.btn {
  position: absolute;
  top: -87px;
  right: 14px;
  width: 29px;
  border-radius: 2px;
}
button {
  z-index: 1;
}
.box-shadow {
  box-shadow: 1px 1px 1px #999;
}
#labelName {
  display: none;
  height: 28px;
  background: transparent;
  border: 1px solid #aaa;
  border-radius: 4px;
  margin-right: -1px;
}
.marg-t-20 {
  margin-top: 18px;
}
.find-me.btn,
.not-on-https,
.no-geolocation-support,
.coordinates {
  font-size: 12px;
}
.not-on-https,
.no-geolocation-support {
  display: none;
}
.coordinates {
  display: none;
  margin-bottom: 2.5rem;
}
.visible {
  display: block;
}
#map {
  margin: 0 auto;
  position: relative;
}
#map-canvas {
  height: calc(100vh - 50px);
  width: 100%;
}
.modalLogin {
  padding: 10px;
}

.form-group input{
  width:80%;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  padding: 10px 0;
}
.modal-header {
  padding: 0 5px 0 0;
}
.modal-body {
  padding: 15px !important;
}
.modal-body .form {
  margin: 1.5rem auto;
}
.modal-footer {
  padding: 0 15px !important;
  justify-content: center;
}
ul.cordinatedList {
  padding: 0;
  height: 75vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.cordinatedList::-webkit-scrollbar {
  width: 5px;
}
.cordinatedList::-webkit-scrollbar-track {
  background: #ddd;
}
.cordinatedList::-webkit-scrollbar-thumb {
  background: #666;
}
ul.cordinatedList li {
  font-size: 10px;
  list-style: none;
  margin-right: 10%;
}
ul.cordinatedList li b {
  cursor: pointer;
}
.padd-t50 {
  padding-top: 50px;
}
.content-center {
  display: flex;
  justify-content: center;
}
.row {
  margin: 0;
}
.icon_span {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.icon_span::after {
  content: "";
  position: absolute;
  left: 30px;
  top: 4px;
  width: 0;
  height: 0;
  border-bottom: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid transparent;
  clear: both;
  transform: rotate(-45deg);
}
.icon_span:hover::after {
  border-top: 20px solid orange;
}
.icon_span > b {
  cursor: pointer;
  padding: 0px 10px;
}
* input {
  direction: rtl;
  border: 1px solid #138496;
  border-radius: 15px;
  height: 35px;
}
.modal-dialog * input {
  direction: ltr;
}
input#pokistopModalEmail1 {
  direction: rtl;
}
.modal-footer,
.modal-header {
  border: none;
}
.modal-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
img.padding {
  width: 25px;
  margin: 5px;
}
label.label_icon {
  width: 100%;
}
.text-show {
  color: white;
  font-size: inherit;
  font-family: inherit;
  font-weight: 600;
}
.my-custom-class-for-label {
  display: none !important;
  color: transparent;
}
.icon-second_menu,
.icon-first_menu {
  font-size: 0.8rem;
  text-align: center;
  color: #fff;
}
.icon-second_menu p,
.icon-first_menu p {
  margin: 0;
}
.icon-second_menu div,
.icon-first_menu div {
  width: 45%;
  display: inline-block;
}
.icon-second_menu div {
  width: 33%;
  display: inline-block;
}
.icon_last_menu div.holder{
  width: 33%;
}
.icon-second_menu img,
.icon-first_menu img {
  border-radius: 50%;
  height: auto;
  padding: 2px;
  width: 50%;
  cursor: pointer;
}
.icon-second_menu img {
  width: 70%;
}
.icon_last_menu {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}

.icon_last_menu div.holder {
  /*width: auto;*/
}

.icon_last_menu img {
  width: 90px;
}
#add_mission{
  background: linear-gradient(-90deg, #61D29A 0, #B6DE83 80%);
    border-radius: 25px;
    border: none;
    height: 34px;
  max-width: 250px;
}
#add_mission span{
    color:#fff;
    font-size: 12px;
}

#adminMenu {
  color: #fff;
}
.icon_gold {
  height: 60px;
  width: 60px;
  padding: 2px;
}
.no-padding {
  padding: 0 !important;
}
.modal-body-color1 {
  background: linear-gradient(545deg, #1b7e94 0, #174e61 130%);
}
.modal-body-color2 {
  background: linear-gradient(315deg, #8fd87d 0, #1b7e94 80%);
}
.modal-body-color3 {
  background: linear-gradient(315deg, #8fd87d 0, #24ccaa 80%);
}
.modal-icon .header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  line-height: 50px;
  color: #fff;
}
.modal-icon .header img {
  width: 50px;
  height: 50px;
}
#exit-first_menu img,
#back-second_menu img,
#back-earn_menu img {
  height: 60px;
  width: 60px;
  cursor: pointer;
}
#back-earn_menu {
  width: 100%;
}
h5 {
  font-size: 0.85rem;
  line-height: 1rem;
}

.a:hover{
  text-decoration: none;
}

.wrong {
    border-bottom: 2px solid red;
    /*border-left: 1px solid red;*/
}

.new-modalL,
.new-modal2,
.new-modal {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: -80vh;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}
.new-modalL .modal-content,
.new-modal2 .modal-content,
.new-modal .modal-content {
  margin: auto;
}
.new-modalL .close,
.new-modal2 .close,
.new-modal .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.new-modalL .close:hover,
.new-modal2 .close:hover,
.new-modal .close:hover,
.new-modalL .close:focus,
.new-modal2 .close:focus,
.new-modal .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.new-modalL,
.new-modal2 {
  width: 240px;
}
.new-modalL .modal-content,
.new-modal2 .modal-content {
  background: linear-gradient(358deg, #E1FFD0 0, #7ED3FF 70%);
}
.close_button,
.action_button {
  font-size: 1.4rem;
  color: #fff;
  cursor: pointer;
  background: orange;
  border-radius: 25px;
  padding: 8px;
}
.close_button {
  padding: 8px 10px;
}
nav,
footer {
  background: transparent;
}

footer p{
  color: #138496;
  margin: 3px;
}

nav a{
  display: flex;
  font-size: 0.75rem;
  color: #fff;
}

nav img{
  margin-right: 3px;
}

.fa{
  cursor: pointer;
}

footer {
  position: relative;
  top: -40px;
  color: #000;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

footer a{
  color:#138496;
}

footer .img_coby {
  border-radius: 25px;
  height: 23px;
}
.compas {
  width: 27px;
}
nav,
footer {
  padding: 0;
  height: 25px;
  font-size: 0.7rem;
  color: #fff;
  background: transparent;
}
#map_canvas {
  width: 100%;
  border-radius: 10px;
  border: 6px solid lightblue;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 0;
}
@media (max-width: 576px) {
  #map-canvas {
    height: calc(100vh - 110px);
    width: 100%;
    border-radius: 10px;
    /*border: 3px solid #138496;*/
    border: 3px solid #138496;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 0;
  }
  .new-modalL,
  .new-modal2,
  .new-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  ul.cordinatedList {
    padding: 0;
    height: 35vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
  ul.cordinatedList li {
    font-size: 10px;
    list-style: none;
    margin-right: 0;
  }
  .content-center {
    position: relative;
    top: -70px;
  }
  .row.padd-t50 {
    padding-top: 0;
    margin: 0;
  }
  .col-md-9 {
    padding: 0;
  }
  .text-center {
    text-align: center;
  }
  .marg-top-minus-40 {
    position: relative;
    top: -40px;
  }
  img.padding {
    margin: 0 5px;
  }
  .icon_span::after {
    content: "";
    position: absolute;
    left: 30px;
    top: 6px;
    width: 0;
    height: 0;
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    clear: both;
    transform: rotate(-45deg);
  }
  .icon_span:hover::after {
    border-top: 10px solid orange;
  }
  .pokistop_link {
    display: none;
  }
}
.lds-ripple {
  display: inline-block;
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid orange;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  z-index: 2;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}
.lds-circle {
  position: absolute;
  display: inline-block;
  width: 51px;
  height: 51px;
  margin: 6px;
  top: 45%;
  left: 49%;
  border-radius: 50%;
  background: url(https://vignette.wikia.nocookie.net/pokemongo/images/8/87/Pok%C3%A9_Ball.png/revision/latest/scale-to-width-down/51);
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  z-index: 2;
}
@keyframes lds-circle {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
