doctype html
html(lang='en')
  head
    // Global site tag (gtag.js) - Google Analytics
    meta(charset='UTF-8')
    title automation test
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='js/client.js')
    //- script(src="https://d3js.org/d3.v5.min.js")

  body
    section#input
      h4 #{title}
      div.input_top
        input(name='scrap', value='', placeholder='Url here')
        input#find(name='parameters', value='', placeholder='Find')
        menu
          button#download_png.btn save image file
          button#download_pdf.btn save pdf file
          button#go_to_html.btn open link
          button#go_to_rendered_html.btn table
      button#enter scan
   
    section#generate
      iframe#my_iframe(style="display:none;" target="_blank")
      //- object#my_object_rendered2(width='100%', height='100%', type='text/html')
      iframe#my_object_rendered2(width='50%', height='100%')
        section
      //- object#my_object_rendered(width='100%', height='100%', type='text/html')
      //-   section
      section#img
        img(src="", alt="")
      
    #table
        
      