<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->


    <meta charset="UTF-8">
    <title>מפת משימות</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styleDB.css">
    <link rel="apple-touch-icon" href="https://slot1-images.wikia.nocookie.net/__cb1530700857/common/skins/common/images/wiki.png"
        sizes="155x155" />
    <link rel="shortcut icon" href="https://vignette.wikia.nocookie.net/pokemongo/images/6/64/Favicon.ico/revision/latest?cb=20170626163724"
    />
</head>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121811598-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'UA-121811598-1');
</script>

<body>
    <div id="content"></div>

    <!-- login modal -->
    <section class="modal-login">
        <div class="col-md-12">

            <div id="exampleModalCenter">
                <div class="new-modal2">
                    <div class="modal-content">
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <div class="col text-center"><h4 style="color:#fff">Edit Database</h4>
                                        <input style="direction: ltr;" class="mb-4" name="gm_link" placeholder="Google Map link">
                                        <i id="dbBtn" class="action_button fa fa-check ml-2" aria-hidden="true"></i>
                                    </div>
                                    <div class="col text-center"><h4 style="color:#fff">Add Missions</h4>
                                        <input style="direction: ltr;" class="mb-4" name="gm_link" placeholder="Google Map link">
                                        <i id="msBtn" class="action_button fa fa-check ml-2" aria-hidden="true"></i>
                                    </div>
                                    <div class="col text-center"><h4 style="color:#fff">Edit Icons</h4>
                                        <input style="direction: ltr;" class="mb-4" name="gm_link" placeholder="Google Map link">
                                        <i id="iconBtn" class="action_button fa fa-check ml-2" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- <div class="center">
                             <i id="cancelBtn" class="close_button fa fa-times" aria-hidden="true"></i>
                            <i id="okBtn" class="action_button fa fa-check ml-2" aria-hidden="true"></i>
                            </form>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- menu modal -->
    <section>
        <div id="generate"></div>
    </section>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="js/app_states.js"></script>
    <script src="js/data.js"></script>
    <script src="js/vars.js"></script>


</body>

</html>