<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>PokémonGO mission map</title>
    <link rel="canonical" href="http://pokemongo.wikia.com/wiki/List_of_Pok%C3%A9mon_families" />
    <link rel="alternate" type="application/x-wiki" title="Edit" href="/wiki/List_of_Pok%C3%A9mon_families?action=edit" />
    <link rel="apple-touch-icon" href="https://slot1-images.wikia.nocookie.net/__cb6950056950012/common/skins/common/images/wiki.png" sizes="155x155" />
    <link rel="shortcut icon" href="https://vignette.wikia.nocookie.net/pokemongo/images/6/64/Favicon.ico/revision/latest?cb=20170626163724" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121811598-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'UA-121811598-1');
</script>

<body>
  
    <!-- <div class="lds-circle"></div> -->
    <!-- loader -->
    <nav class="center" style="padding:0;">
        <a href="https://www.facebook.com/groups/735539106657351/about/" target="_blank" style=" color:#fff;">&nbsp;
        <img src="https://www.freepngimg.com/download/facebook/3-2-facebook-png-pic.png" alt="Pokémon GO Israel" height="15px">
         <strong>Pokémon GO Israel</strong></a>
    </nav>

    <div class="lds-ripple">
        <div></div>
        <div></div>
    </div>

    <div id="content"></div>

    <main class="row">

        <div class="col-md-12 no-padding">
            <div id="map">
                <div id="map-canvas"></div>
            </div>
            <div class="content-center">
                <input type="text" id='labelName'>
                <button type="button" class="find-me btn btn-info btn-block">
                    <i class="fa fa-crosshairs"></i>
                </button>
                <button id="add_mission" type="button" class="btn btn-info btn-block box-shadow">
                    <!-- <i class="fa fa-compass" aria-hidden="true"></i> -->
                    <span>Add Mission</span>
                    <img src="https://vignette.wikia.nocookie.net/pokemongo/images/8/84/Mp-Icon_Research.png" class="compas" alt="">
                    <span>הוספת משימה</span>
                </button>
            </div>
        </div>
    </main>

    <!-- login modal -->
    <section class="modal-login">
        <div class="col-md-12">

            <div id="exampleModalCenter">
                <div class="new-modal2">
                    <div class="modal-content">
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <div class="col text-center">
                                        <h4 style="color:#fff">
                                        <span>Add Mission</span>
                                        <img src="https://vignette.wikia.nocookie.net/pokemongo/images/8/84/Mp-Icon_Research.png" class="compas" alt="">
                                        <span>הוספת משימה</span>
                                    </h4>
                                        <p style="margin-top: 20px; margin-bottom: 1rem; font-size: 10px; color: #fff;">מיקום נוכחי או לחיצה ארוכה במיקום לא מצריכים קישור מגוגל מפות
                                            <br>Current location or a long press at the location does not require a link from Google Maps
                                        </p>
                                    <!-- <div class="col text-center"><h4 style="color:#fff">Add new Mission <strong class="text-hide"> by GPS</strong>?</h4> -->
                                        <input style="direction: ltr;" class="mt-4" name="gm_link" 
                                        type="url" title="Must contain valid google link"
                                        placeholder="Google Map Link/קישור מגוגל מפות">
                                        <input style="direction: ltr;" class="mt-2" placeholder="User/משתמש"
                                               type="text" id="username" name="username"
                                               minLength="4" required>
                                        <input style="direction: ltr;" class="mt-2" placeholder="Password/סיסמה"
                                        type="password" id="password" name="password"
                                        minLength="4" required>

                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="center">
                             <i id="cancelBtn" class="close_button fa fa-times" aria-hidden="true"></i>
                            <i id="okBtn" class="action_button fa fa-check ml-2" aria-hidden="true"></i>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- menu modal -->
    <section>
        <div class="col-md-12">
            <div id="menu_modal_holder" class="new-modal">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="modal-icon">
                            <div class="header">
                                <p>Daily Reward</p>
                                <img id="a3" src="https://vignette.wikia.nocookie.net/pokemongo/images/8/84/Mp-Icon_Research.png">
                                <p>פרס יומי</p>
                            </div>
                        </div>

                        <div class="icon-first_menu">
                        </div>
                        <div class="center">
                            <span id="back-second_menu">
                                <img id="close" src="https://vignette.wikia.nocookie.net/pokemongo/images/2/29/Button_Close.png" alt="close modal">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="generate"></div>
    </section>
    <footer>
        <p>Writen by </p>
        <a href="mailto:pokemon.missions@gmail.com" target="_blank" title='Pavel Arshavsky'><strong>Pavel Arshavsky</strong></a>
        <p>for</p>
        <a href="https://m.me/cobyraz"><strong>Coby Raz </strong><img src="../icons/teddy.png" alt="Coby Raz" class="img_coby"></a>
       </footer>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <!-- <script src="js/bootstrap.min.js"></script> -->
    <!-- <script src="js/moment.min.js"></script> -->
    <!-- <script src="map style/retro_style.js"></script> -->

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9zjnqXZs64-jzUe9Ze_m3CjhTE1SPVv4" type="text/javascript"></script>
    <!-- <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script> -->
    <script src="js/app_states.js"></script>
    <script src="js/data.js"></script>
    <script src="DB/vars.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/modalHendler.js"></script>
    <script src="js/marker.js"></script>
    <script src="js/init.js"></script>


</body>

</html>